<section class="labSection">
    <h2 class="title">Логічна задача: Лицар, Брехун і Звичайна людина</h2>

    <form class="mainForm">
        <div class="formWrapper">
            <div>
                <label for="a" class="formLabel">Що сказав A:</label>
                <select name="select_a" id="a" class="formSelect">
                    <option value="я звичайна" class="formOption" selected>Я звичайна людина</option>
                    <option value="я на є звичайною" class="formOption">Я не є звичайною людиною</option>
                    <option value="це правда" class="formOption">Це правда</option>
                </select>
            </div>
            <button id="speakA" class="speakBtn">Speak A</button>
        </div>
        <div class="formWrapper">
            <div>
                <label for="b" class="formLabel">Що сказав B:</label>
                <select name="select_b" id="b" class="formSelect">
                    <option value="я звичайна" class="formOption">Я звичайна людина</option>
                    <option value="я на є звичайною" class="formOption">Я не є звичайною людиною</option>
                    <option value="це правда" selected class="formOption">Це правда</option>
                </select>
            </div>
            <button id="speakB" class="speakBtn">Speak B</button>
        </div>
        <div class="formWrapper">    
            <div>
                <label for="c" class="formLabel">Що сказав C:</label>
                <select name="select_c" id="c" class="formSelect">
                    <option value="я звичайна" class="formOption" selected>Я звичайна людина</option>
                    <option value="я на є звичайною" class="formOption">Я не є звичайною людиною</option>
                    <option value="це правда" class="formOption">Це правда</option>
                </select>
            </div>
            <button id="speakC" class="speakBtn">Speak C</button>
        </div>

        <button id="solveBtn" type="button" class="solveBtn">Обчислити</button>
    </form>

    <div id="result" class="resultWrapper"></div>

    <!-- <div>
        <button id="speak">Tap to speak</button>
        <p id="textarea"></p>
    </div> -->
</section>