<section>
    <h2>Логічна задача: Лицар, Брехун і Звичайна людина</h2>

    <form>
        <label for="a">Що сказав A:</label>
        <select name="select_a" id="a">
            <option value="я звичайна" selected>Я звичайна людина</option>
            <option value="я на є звичайною">Я не є звичайною людиною</option>
            <option value="це правда">Це правда</option>
        </select>
        <label for="b">Що сказав B:</label>
        <select name="select_b" id="b">
            <option value="я звичайна">Я звичайна людина</option>
            <option value="я на є звичайною">Я не є звичайною людиною</option>
            <option value="це правда" selected>Це правда</option>
        </select>
        <label for="c">Що сказав C:</label>
        <select name="select_c" id="c">
            <option value="я звичайна" selected>Я звичайна людина</option>
            <option value="я на є звичайною">Я не є звичайною людиною</option>
            <option value="це правда">Це правда</option>
        </select>

        <button id="solveBtn" type="button">Обчислити</button>
    </form>

    <div id="result"></div>

    <div>
        <button id="speak">Tap to speak</button>
        <p id="textarea"></p>
    </div>
</section>